<html>
<head>
<title>Result of resizing</title>
</head>
<body>
<h3>Покажем уменьшенную картинку</h3>
<img src="data:image/png;base64,{{.}}" />
<div style="display:block; margin-top:20px;">
    <a href="/images">Загрузить другую картинку</a>
</div>
</body>
</html>